In [1]:
n=int(input('enter n value:'))

for i in range(n):
    print('* ',end='')

* * * *

In [10]:

for i in range(n):
    print('* '*n)

* * *
* * *
* * *

In [32]:

for i in range(n):
    print((str(4)+' ')*n)


print('  or  ')


for i in range(n):
    print('4 '*n)

4 4 4
4 4 4
4 4 4
  or
4 4 4
4 4 4
4 4 4

In [39]:
for i in range(n):
    print((str(1+i)+' ') * n)

1 1 1
2 2 2
3 3 3

In [40]:
for i in range(n):
    print('A ' * n)

A A A
A A A
A A A

In [3]:
n=int(input('enter n value:'))
for i in range(n):
    # print(type(chr(65))) ==><class 'str'>
    print((chr(65+i)+' ') * n)

A A A A
B B B B
C C C C
D D D D

In [49]:
for i in range(n): # for Rows
    for j in range(n): # for columns
        print((1+j),end=' ')
    print()

1 2 3
1 2 3
1 2 3

In [50]:
for i in range(n):# for Rows
    for j in range(n):# for columns
        print(chr(65+j),end=' ')
    print()

A B C
A B C
A B C

In [56]:
for i in range(n):
    print((chr(64+n-i) +' ') * n)

print('  or  ')

for i in range(n):
    print((chr(65+(n-1)-i) +' ') * n)

C C C
B B B
A A A
  or
C C C
B B B
A A A

In [60]:
for i in range(4):
    print((str(1+i)+' ') * 4)

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [72]:
for i in range(n):
    for j in range(n):
        print((str(n-j)+' '),end='' )
    print()

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [74]:
for i in range(n):
    for j in range(n):
        print(chr(64+n-j),end=' ')
    print()

D C B A
D C B A
D C B A
D C B A

In [77]:
for i in range(n):
    print('* ' * (1+i))

*
* *
* * *
* * * *

In [80]:
for i in range(n):# 0, 1, 2, 3
    print((str(1+i) + ' ') * (1+i))

1
2 2
3 3 3
4 4 4 4

In [4]:
for i in range(n):
    print((chr(65+i) + ' ') * (1+i))

A
B B
C C C
D D D D

In [7]:
for i in range(n):
    for j in range(i+1):
        print((j+1),end=' ')
    print()

1
1 2
1 2 3
1 2 3 4